<div id="chat-widget" class="collapsed">
    <div id="chat-header">
        <span id="chat-title">Chat Support</span>
        <span id="chat-toggle">+</span>
    </div>
    <div id="chat-body" class="hidden"></div>
    <div id="chat-input" class="hidden">
        <input type="text" id="message-input" placeholder="Type your message...">
        <button id="send-button">Send</button>
    </div>